<%- include("partials/header.ejs") %>

<section id="section-about-me">
    <div class="container col-xl-12 col-xxl-10 px-4 py-5" id="custom-cards">
        <div class="d-flex align-items-center">
            <div class="align-items-center">
                <h3 class="display-5 fw-bold lh-1 text-body-emphasi pb-2 lh-1 mb-3">Victor da Silva Hoffmann</h3>
                <p class="mb-4 fs-5">My name is Victor and I'm an aspiring Web Developer from Brazil.</p>
                <p class="mb-4 fs-5">I like programming and developing websites.</p>
            </div>
            <div>
                <img class="img-fluid" src="images/ReadyPlayerMe-Avatar.png">
            </div>
        </div>
    </div>
        
</section>

<%- include("partials/footer.ejs") %>