<%- include("partials/header.ejs") %>

<section id="section-projects">
    <div class="container px-4 py-5">

        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <video class="d-block mx-lg-auto img-fluid" alt="TinDog Project Preview" width="700" height="500" autoplay loop>
                    <source src="videos/tindog-project.mp4" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-6">
                <h3 class="display-5 fw-bold lh-1 text-body-emphasi pb-2 lh-1 mb-3">TinDog</h3>
                <p class="lead mb-4 fs-5">A dating website for dogs.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="https://taichi2467.github.io/TinDog/"  target="_blank" class="btn btn-dark btn-lg px-4 me-md-2">Check out</a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <video class="d-block mx-lg-auto img-fluid" alt="Move It Project Preview" width="700" height="500" autoplay loop>
                    <source src="videos/moveit-project.mp4" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-6">
                <h3 class="display-5 fw-bold lh-1 text-body-emphasi pb-2 lh-1 mb-3">Move It</h3>
                <p class="lead mb-4 fs-5">A website for moving out.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="https://taichi2467.github.io/MoveIt/" target="_blank" class="btn btn-dark btn-lg px-4 me-md-2">Check out</a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <video class="d-block mx-lg-auto img-fluid" alt="First Capstone Project Preview" width="700" height="500" autoplay loop>
                    <source src="videos/capstone-project-v1.mp4" type="video/mp4">
                </video>
            </div>

            <div class="col-lg-6">
                <h3 class="display-5 fw-bold lh-1 text-body-emphasi pb-2 lh-1 mb-3">First Capstone Project</h3>
                <p class="lead mb-4 fs-5">My first Capstone Project website. There are two versions, one using Bootstrap and the other one using only CSS.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="https://taichi2467.github.io/First-Capstone-Project-CSS-/"  target="_blank" class="btn btn-dark btn-lg px-4 me-md-2">Check out</a>
                </div>
            </div>
        </div>

    </div>
</section>

<%- include("partials/footer.ejs") %>